.header-navigation:hover{
    color: #FF6E30;
}

.header-navigation:active{
    color: #CE4307;
}

.standart-button:hover{
    background-color: #BC572B;
}

.standart-button:active{
    background-color: #CE4307;
}

.inherit-button:hover{
    background-color: #FF6E30;
}

.inherit-button:active{
    border-color: #CE4307;
    background-color:#CE4307;
}

.header-navigation-mobile:hover{
    color: #FF6E30;
}

.header-navigation-mobile:active{
    color: #CE4307;
}