@import url(./action.scss);

header{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    color: #FFFFFF;
    justify-content: center;
    background-color: #202020;
}

.header__container{
    display: flex;
    position: relative;
}

.logo{
    margin-right: 140px;
    align-self: center;
}

.search{
    width: 25px;
    height: 25px;
    align-self: center;
}

.search-form {
    display: none;
    margin: auto;
    position: relative;
    right: 170px;
    gap: 5px;
    z-index: 1000;

    .search-input {
      border: none;
      color: #e9e9e9;
      border-bottom: 1px solid white;
      background-color: transparent;

      &::placeholder {
        color: #e9e9e9;
        font-size: 16px;
      }
    }
}



.search-form-x{
    width: 23px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
}

/*scss формат*/

nav {   
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      gap: 79px;
      margin-right: 193px;

      li {
        align-self: center;
        white-space: nowrap;
      }
    }
}

@media(max-width: 1450px){
    nav ul{
        margin-right: 130px;
        gap: 60px;
    }

    .logo{
        margin-right: 140px;
        align-self: center;
    }
}


@media(max-width: 1260px){
    nav ul{
        gap: 40px;
        margin-right: 110px;
    }
}


@media(max-width: 1155px){
    nav ul{
        margin-right: 90px;
    }
    

    .logo{
        margin-right: 120px;
        align-self: center;
    }
}

@media(max-width: 1024px){
    nav ul{
        gap: 33px;
        margin-right: 131px;
    }
    

    .logo{
        margin-right: 82px;
        align-self: center;
    }
}

nav ul li{
    align-self: center;
    white-space: nowrap;
}

.navigation-mobile{
    display: none;
    background-color: #4A4A4A;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 45px;
}

.navigation{
    display: flex;
    list-style: none;
    gap: 72px;
}

.burger-navigation{
    display: none;
    position: fixed;
    z-index: 10;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.911);
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
}

.burger-navigation-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.burger-navigation .burger-close{
    width: 18px;
    margin-bottom: 16px;
}

.burger-navigation-list{
    list-style: none;
    color: #E9E9E9;
    font-size: 16px;
    gap: 30px;
}

.burger-navigation-number{
    padding-top: 212px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #FF6E30;
    font-size: 16px;
}

/* Отображаем бургер-навигацию при нажатии на бургер-иконку */
.burger-toggle:checked ~ .burger-navigation{
    display: flex;
}

.burger-toggle {
    display: none;
}

.burger-close {
    display: none;
}

.burger-toggle:checked ~ .navigation-mobile #burger__menu .burger {
    display: none;
}

.burger-toggle:checked ~ .navigation-mobile #burger__menu .burger-close {
    display: block;
}




/* main */

main{
    margin-top: 41px;
    display: flex;
    row-gap: 68px;
    flex-direction: column;
    align-items: center;
}

.photo__container{
    max-width: 1290px;
    display: grid;
    grid-template-columns: minmax(342px, 630px) repeat(2, minmax(156px, 300px));
    grid-template-rows: 25px minmax(228px,300px)  minmax(228px, 257px);
    grid-column-gap: 30px;
    grid-row-gap: 18px;
}

.photo__container-1{
    padding: 5%;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(https://sun1-84.userapi.com/s/v1/ig2/5ymA_AWIYXRED-h-sDXCd4rHOJSldqDyziP-Xh3VozZhSW61DWlk7rbg4Hwhh_RErtPBJLnV__7v9hUQ6GZPan6-.jpg?size=998x998&quality=95&crop=0,217,998,998&ava=1);
    display: flex;
    grid-area: 1 / 1 / 4 / 2;
}

.photo__container-1-info{
    color: white;
}

.photo__container-1-info-title{
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}

.photo__container-1-info-text{
    font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
    line-height: 37px;
    font-weight: 700;
    margin-bottom: 20px;
}

.photo__container-1-info-button{
    min-width: 145px;
    height: 50px;
    background-color: #FF6E30;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.photo__container-1-info-tag{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 123px;
    max-height: 30px;
    background-color: #202020;
}

.photo__container-1-info-tag-block{
    align-self: end;
    align-items: center;
}

// @media(max-width: 1300px){
//     .photo__container-1-info-tag{
//         display: none;
//     }
// }


.photo__container-2{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    font-weight: 700;
    grid-area: 1 / 2 / 2 / 4;
}

.photo__container-3{
    background-size: cover;
    background-image: url(https://i.ytimg.com/vi/WyvXKl7vTRw/maxresdefault.jpg);
    grid-area: 2 / 2 / 3 / 4;
}

.photo__container-4{
    background-size: cover;
    background-image: url(https://webmaster-deals.s3.amazonaws.com/deal-img-2/1427/3/7b.jpg);
    grid-area: 3 / 2 / 4 / 3;
}

.photo__container-5{
    background-size: cover;
    background-image: url(https://i.ytimg.com/vi/VThWC5r9-Fg/maxresdefault.jpg);
    grid-area: 3 / 3 / 4 / 4;
}

/* About */

.about{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #202020;
}

.about__container{
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    gap: 30px;
    color: #FFFFFF;
    max-width: 1290px;
}

.about__container-photo-img{
    object-fit: cover;
    width: 100%;
    max-height: 255px;/* Масштабирование изображения с сохранением соотношения сторон и обрезкой, чтобы заполнить блок */
}

.about__container-text,
.about__container-photo {
    flex: 1 1 50%; /* Каждому блоку указываем занимать 50% контейнера */
}

.about__container-text-title{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    font-weight: 700;
}

.about__container-text-subtext{
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    font-weight: 400;
    line-height: 28px;
}

.about__container-photo{
    align-self: center;
    display: flex;
    flex-direction: column;
}



@media(max-width: 320px){
    projects__grid-4,
    projects__grid-5{
        max-height: 422px;
    }

    projects__grid-1,
    projects__grid-2,
    projects__grid-3,
    projects__grid-6,
    projects__grid-7{
        max-height: 278px;
    }
}

.about__container-photo-title{
    padding-top: 25px;
    margin-bottom: 16px;
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
}

.about__form input{
    all: unset;
    background-color:#4A4A4A;
    height: 50px;
    padding-left: 23px;
}

.about__form{
    display: flex;
    flex-direction: column;
}

.about__form-action{
    width: 100%;
    display: flex;
    gap: 30px;
}

.about__form input::placeholder{
    color: #CACACA;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.about__form-action input{
    width: 70%;
}


.about__form-action button{
    all: unset;
    border: none;
    color: white;
    background-color: #FF6E30;
    width: 30%;
    height: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

@media(max-width: 1024px){

    .photo__container{
        padding-left: 31px;
        padding-right: 31px;
    }


    .about__form-action{
        flex-direction: column;
        gap: 10px;
    }

    .about{
        padding-left: 31px;
        padding-right: 31px;
        min-height: 658px;
    }

    .about__form input{
        all: unset;
        background-color:#4A4A4A;
        height: 50px;
        padding-left: 23px;
    }

    .footer__container{
        display: flex;
        gap: 109px;
    }

    .footer__text{
        display: none;
    }

    .about__container-photo-img{
        object-fit: cover;
        width: 100%;
        max-height: 322px;/* Масштабирование изображения с сохранением соотношения сторон и обрезкой, чтобы заполнить блок */
    }
}

@media(max-width: 1350px){
    .about{
        padding-left: 31px;
        padding-right: 31px;
    }
}

/* Projects */

.projects{
    padding-left: 31px;
    padding-right: 31px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects__title{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    font-weight: 700;
    margin-bottom: 12px;
}

.projects__grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(190px, 1fr)) minmax(300px, 1fr) ;
    max-width: 1290px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
}

.projects__grid-1{
    grid-area: 1 / 1 / 2 / 2;
    flex-direction: column;
}

.projects__grid-1-photo{
    min-height: 218px;
    display: flex;
    justify-content: end;
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/1f/f2/95/1ff2953e66fa1088f98c2cf32c1f3669.jpg);
}

.projects__grid-2-photo{
    display: flex;
    min-height: 218px;
    justify-content: end;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjEyMDd9);
}

.projects__grid-3-photo{
    display: flex;
    min-height: 218px;
    justify-content: end;
    background-size: cover;
    background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/50840/pub_5e9c4eef97c2995b763d12f7_5e9dff0b4f5630594cd737d8/scale_1200);
}

.projects__grid-6-photo{
    display: flex;
    min-height: 218px;
    justify-content: end;
    background-size: cover;
    background-image: url(https://bogatyr.club/uploads/posts/2023-06/1687578211_bogatyr-club-p-natyurmort-s-mandarinami-foni-vkontakte-36.jpg);
}

.projects__grid-7-photo{
    display: flex;
    min-height: 218px;
    justify-content: end;
    background-size: cover;
    background-image: url(https://profile-images.xing.com/images/3fe4daced72ea26ebdce633ee329cdee-4/thomas-zimmermann.1024x1024.jpg);
}


.projects__grid-2{
    grid-area: 1 / 2 / 2 / 3;
    overflow: hidden;
}


.projects__grid-3{
    grid-area: 1 / 3 / 2 / 4;
    overflow: hidden;
}

.projects__grid-4{
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 4 / 2 / 6;
    overflow: hidden;
    background-size: cover;
    background-image: url(https://www.miloserdie.ru/wp-content/uploads/2022/03/4-7.jpg);
}

.projects__grid-5{
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 4;
    overflow: hidden;
    background-size: cover;
    background-image: url(https://images.wallpaperscraft.ru/image/single/led_zamerzshij_sneg_173659_2780x2780.jpg);
}

.projects__grid-6{
    grid-area: 2 / 4 / 3 / 5;
    overflow: hidden;
}


.projects__grid-7{
    grid-area: 2 / 5 / 3 / 6;
}

.projects__grid-1,
.projects__grid-2,
.projects__grid-3,
.projects__grid-4,
.projects__grid-5,
.projects__grid-6,
.projects__grid-7{
    display: flex;
    flex-direction: column;
}

@media(max-width: 1380px){
    .projects__grid{
        min-height: 990px;
        grid-template-columns: repeat(8, 1fr);
        //grid-template-rows: repeat(2, minmax(285px)) 307px 300px;
    }

    .projects__grid-1{
        grid-area: 1 / 1 / 2 / 3;
    }

    .projects__grid-2{
        grid-area: 1 / 3 / 2 / 5;
    }

    .projects__grid-3{
        grid-area: 1 / 5 / 2 / 9;
    }

    .projects__grid-4{
        grid-area: 2 / 1 / 3 / 6;
    }

    .projects__grid-5{
        grid-area: 3 / 4 / 4 / 9;
    }

    .projects__grid-6{
        grid-area: 2 / 6 / 3 / 9;
    }
    
    .projects__grid-7{
        grid-area: 3 / 1 / 4 / 4;
    }

}

.projects__grid-small-title{
    padding-top: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 13px;
}

.projects__grid-data{
    gap: 4px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color:#999999;
}

.project__grid-big{
    padding: 20px;
}

.projects__grid-data-big{
    color: #FFFFFF;
}

.projects__grid-data-big-title{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 293px;
}

.projects__grid-data-big-text-4{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 292px;
    color: #FFFFFF;
}

.projects__grid-data-big-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 292px;
    color: #FFFFFF;
}

.projects__grid-tag{
    display: flex;
    margin: 10px;
    align-items: center;
    background-color: #202020;
    height: 28px;
}

.projects__grid-tag-big{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    display: flex;
    margin: 10px;
    align-self: end;
    align-items: center;
    background-color: #202020;
    height: 28px;
}

.projects__grid-tag p{
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.projects__grid-big-button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    max-width: 121px;
    min-height: 50px;
    margin: 5%;
    border: 3px solid #FF6E30;
    background-color: inherit;
    color: #FFFFFF;
}

/* contact */

.contact{
    padding-left: 31px;
    padding-right: 31px;
    margin-bottom: 68px;
    display: flex;
    flex-direction: column;
}

.contact__title{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    font-weight: 700;
    margin-bottom: 22px;
}

.contact__section{
    display: flex;
    position: relative;
    flex-direction: row;
}

.contact__section .map{
    max-width: 850px;
    object-fit: cover;
    filter: saturate(0);
}

.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px; /* Покрывает половину ширины изображения */
    height: 100%; /* Покрывает всю высоту изображения */
    background-color: rgba(0, 0, 0, 0.653); /* Полупрозрачный черный цвет */
}

.overlay-img{
    position: absolute; /* Позиционирование относительно своего контейнера */
    top: 20px; /* Сдвигаем крестик вверх на 10px */
    right: 20px; /* Сдвигаем крестик вправо на 10px */
    width: 20px;
    height: 20px;
}

.point{
    position: absolute;
    width: 20px;
    top: 95px;
    left: 611px;
}

.overlay__content{
    flex-direction: column;
}

.overlay__title{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    font-weight: 400;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.overlay__text{
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    color: #CACACA;
    line-height: 28px;
}

.overlay__number{
    display: flex;
    align-items: center;
    gap: 3px;
    color: #FF6E30;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

@media(max-width: 1280px){
    .overlay{
        bottom: 0; /* Сдвигаем затемнение к нижнему краю */
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        width: 590px; /* Покрывает половину ширины изображения */
        height: 30%; /* Покрывает всю высоту изображения */
        background-color: rgba(0, 0, 0, 0.653); /* Полупрозрачный черный цвет */
    }

    .contact__section .map{
        width: 590px;
        justify-content: flex-end;
    }
    
    .point{
        position: absolute;
        width: 20px;
        top: -200px;
        left: 400px;
    }
}

@media(max-width: 880px){

    .contact{
        width: 100%;
        padding: 20px;
    }


    .overlay{
        top: 0;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        width: 100%; /* Покрывает половину ширины изображения */
        height: 30%; /* Покрывает всю высоту изображения */
        background-color: rgba(0, 0, 0, 0.653); /* Полупрозрачный черный цвет */
    }

    .contact__section .map{
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    
    .contact__section{
        flex-direction: column;
    }

    .point{
        z-index: 100;
        position: absolute;
        width: 20px;
        top: 0;
        bottom: 0;
        left: 600px;
        display: none;
    }


}

@media(max-width: 850px){
    .overlay{
        bottom: 0; /* Сдвигаем затемнение к нижнему краю */
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        height: 30%; /* Покрывает всю высоту изображения */
        background-color: rgba(0, 0, 0, 0.653); /* Полупрозрачный черный цвет */
    }

    .contact__section .map{
        justify-content: flex-end;
    }
    
    .contact__section{
        flex-direction: column;
    }
}

.phone{
    width: 16px;
    height: 16px;
}

.contact__form{
    margin-left: 30px;
    max-width: 410px;
    display: flex;
    flex-direction: column;
}

.contact__form-title{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    color: #202020;
    margin-bottom: 5px;
}

.contact__form-text{
    font-size: clamp(1rem, 1.025rem + -0.125vw, 0.875rem);
    font-family: 'Roboto', sans-serif;
    color: #999999;
    line-height: 22px;
    margin-bottom: 14px;
}

.contact__form-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-name{
    background-color: #E9E9E9;
    color: #999999;
    border: inherit;
    max-width: 410px;
    height: 50px;
}

.input-email{
    background-color: #E9E9E9;
    color: #999999;
    border: inherit;
    max-width: 410px;
    height: 50px;
}

.input-message{
    background-color: #E9E9E9;
    color: #999999;
    border: inherit;
    max-width: 410px;
    height: 150px;
}

.contact__form-inputs input{
    color: #999999;
    padding-left: 23px;
    font-family: 'Roboto', sans-serif;
}

.contact__form-inputs textarea{
    color: #999999;
    padding: 23px;
    font-family: 'Roboto', sans-serif;
}

.contact-button{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 35%;
    height: 50px;
    border: inherit;
    background-color: #FF6E30;
    font-weight: 700;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    width: 100%;
    min-height: 106px;
}

.footer__logo{
    max-width: 263px;
}

.footer__container{
    display: flex;
    gap: 177px;
    padding-left: 21px;
    padding-right: 21px;
}

.footer__text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 361px;
    color: #CACACA;
}

.footer__more{
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: #CACACA;
}

.footer__more-logotips img{
    width: 30px;
}

.footer__more-logotips{
    margin-top: 8px;
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 20px;
}

@media(max-width: 975px){
    .photo__container{
        padding-left: 31px;
        padding-right: 31px;
        max-width: 1290px;
        display: grid;
        grid-template-columns: minmax(342px, 630px) repeat(2, minmax(156px, 300px));
        grid-template-rows: 25px minmax(228px,300px)  minmax(228px, 257px);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
}

@media(max-width: 768px){
    .photo__container{
        padding-left: 27px;
        padding-right: 27px;
    }

    .about__container-photo-img{
        object-fit: cover;
        width: 100%;/* Масштабирование изображения с сохранением соотношения сторон и обрезкой, чтобы заполнить блок */
    }

    .projects{
        padding-left: 27px;
        padding-right: 27px;
    }

    .contact{
        padding-left: 27px;
        padding-right: 27px;
    }

    .header-navigation{
        display: none;
    }

    .navigation-mobile{
        display: flex;
    }

    .header-navigation-mobile{
        display: flex;
    }

    .header__container{
        gap: 380px;
    }

    .projects__grid{
        grid-template-columns: repeat(12, 1fr);
        max-width: 962px;
    }

    .projects__grid-1{
        grid-area: 1 / 1 / 2 / 5;
    }

    .projects__grid-2{
        grid-area: 1 / 5 / 2 / 9;
    }

    .projects__grid-3{
        grid-area: 1 / 9 / 2 / 13;
    }

    .projects__grid-4{
        grid-area: 2 / 1 / 3 / 13;
    }

    .projects__grid-5{
        grid-area: 4 / 1 / 5 / 13;
    }

    .projects__grid-6{
        grid-area: 3 / 1 / 4 / 7;
    }
    
    .projects__grid-7{
        grid-area: 3 / 7 / 4 / 13;
    }


    .photo__container{
        padding-left: 31px;
        padding-right: 31px;
        max-width: 1290px;
        display: grid;
        grid-template-columns: minmax(278px, 342px) repeat(2, minmax(124px, 156px));
        grid-template-rows: 50px minmax(228px,300px)  minmax(105px, 133px);
        grid-column-gap: 30px;
        grid-row-gap: 18px;
    }

    .header__container{
        gap: 280px;
    }

    .navigation{
        display: flex;
        list-style: none;
        gap: 50px;
    }
}

@media(max-width: 650px){
    .header__container{
        gap: 200px;
    }

    .photo__container{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media(max-width: 320px){



    .photo__container{
        padding: 60 21 60 21;
        padding-left: 21px;
        padding-right: 21px;
    }

    .about__container-photo-img{
        object-fit: cover;
        width: 100%;
        max-height: 278px;/* Масштабирование изображения с сохранением соотношения сторон и обрезкой, чтобы заполнить блок */
    }

    .about__container-text-subtext{
        font-family: 'Roboto', sans-serif;
        font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
        font-weight: 400;
        line-height: 28px;
        min-width: 278px;
        min-height: 704px;
    }

    .projects{
        padding-left: 21px;
        padding-right: 21px;
    }

    .contact{
        padding-left: 21px;
        padding-right: 21px;
    }
}

@media(max-width: 950px){
    nav ul{
        margin-right: 50px;
        gap: 30px;
    }

    .logo{
        margin-right: 100px;
        align-self: center;
    }
    .footer__container{
        display: flex;
        gap: 150px;
        padding-left: 21px;
        padding-right: 21px;
    }

}

@media(max-width: 877px){
    nav ul{
        margin-right: 30px;
        gap: 30px;
    }

    .logo{
        margin-right: 50px;
        align-self: center;
    }
    .footer__container{
        display: flex;
        gap: 80px;
        padding-left: 21px;
        padding-right: 21px;
    }
}

@media(max-width: 800px){

    nav ul{
        margin-right: 20px;
        gap: 15px;
    }

    .logo{
        margin-right: 20px;
        align-self: center;
    }
    .footer__container{
        display: flex;
        gap: 80px;
        padding-left: 21px;
        padding-right: 21px;
    }

}

@media(max-width: 640px){
    .photo__container{
        padding-left: 31px;
        padding-right: 31px;
        max-width: 1290px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 422px 38px 186px 105px;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }

    .photo__container-1{
        grid-area: 1 / 1 / 2 / 3;
    }

    .photo__container-2{
        grid-area: 2 / 1 / 3 / 3;
    }

    .photo__container-3{
        grid-area: 3 / 1 / 4 / 3;
    }

    .photo__container-4{
        grid-area: 4 / 1 / 5 / 2;
    }

    .photo__container-5{
        grid-area: 4 / 2 / 5 / 3;
    }

    header{
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        color: #FFFFFF;
        background-color: #202020;
        justify-content: start;
    }
    
    .search{
        width: 20px;
        height: 20px;
        align-self: center;
    }

    .header__container{
        gap: 110px;
        align-items: center;
    }

    .logo{
        width: 112px;
        padding-left: 12px;
    }

    nav{
        padding-top: 5px;
        padding-left: 60px;
    }
    .navigation{
        display: none;
    }

    .about__container{  
        flex-direction: column;
    }

    .about{
        display: flex;
        max-height: 1282px;
    }

    .about__form{
        text-align: left;
    }

    .footer__container{
        display: flex;
        gap: 20px;
        padding-left: 21px;
        padding-right: 21px;
    }

}

@media(max-width: 1920px){
    .search-form{
        right: 10px;
    }
}

@media(max-width: 1024px){
    nav{
        max-width: 750px;
    }

    .search-form{
        right: 90px;
    }

    header{
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        height: 80px;
        color: #FFFFFF;
        background-color: #202020;
    }
}

@media(max-width: 600px){

    nav{
        max-width: 170px;
    }

    .search-form{
        right: 90px;
    }

    .projects__grid{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    

    .projects__grid-1-photo{
        background-size: cover;
        min-height: 278px;
    }

    .projects__grid-2-photo{
        background-size: cover;
        min-height: 278px;
    }

    .projects__grid-3-photo{
        background-size: cover;
        min-height: 278px;
    }

    .projects__grid-4{
        min-height: 422px;
    }

    .projects__grid-5{
        background-size: cover;
        min-height: 422px;
    }


    .projects__grid-6-photo{
        background-size: cover;
        min-height: 278px;
    }

    .projects__grid-7-photo{
        min-height: 278px;
        background-size: cover;
    }
    
    .projects__grid-data-big-title{
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        max-width: 293px;
        max-height: 48px;
    }

    .project__grid-big{
        padding: 30px;
    }
    
    .projects__grid-data-big-text-4{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 22px;
        max-width: 292px;
        color: #FFFFFF;
        padding-top: 30px;
    }




    .header__container{
        gap: 18px;
        align-items: center;
    }

    .footer{
        height: 320px;
    }

    .footer__logo{
        width: 171px;
    }

    .footer__container{
        gap: 20px;
        padding: 15px;  
        display: flex;
        flex-direction: column-reverse;
    }

    .overlay{
        bottom: 0; /* Сдвигаем затемнение к нижнему краю */
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        height: 30%; /* Покрывает всю высоту изображения */
        background-color: rgba(0, 0, 0, 0.653); /* Полупрозрачный черный цвет */
    }

    .contact{
        width: 100%;
        padding-top: 20px;
    }



    .contact__section .map{
        width: 100%;
        height: 472px;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    
    .contact__section{
        flex-direction: column;
    }

    .point{
        z-index: 100;
        position: absolute;
        width: 20px;
        top: 0;
        bottom: 0;
        left: 600px;
        display: none;
    }

    .contact__form {
        margin-left: 1px;
        max-width: 410px;
        display: flex;
        flex-direction: column;
    }

    .photo__container-1-info-text {
        font-size: clamp(1.5rem, 1.35rem + .75vw, 2.25rem);
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 20px;
        height: 78px;
        width: 169px;
    }


    .navigation-mobile{
        padding-top: 8px;
        justify-content: flex-start;
        padding-left: 26px;
    }

    .about__container-text-subtext{
        font-family: 'Roboto', sans-serif;
        font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
        font-weight: 400;
        max-width: 630px;
        line-height: 25px;
        
    }
}

.burger__toggle{
    display: none;
}

.burger{
    width: 20px;
    height: 18px;
    cursor: pointer;
}

@media(max-width: 768px){
    .burger{
        display: none;
    }
}

@media(max-width: 640px){
    .burger{
        display: flex;
        
    }
}

// @media(max-width: 320px){
//     projects__grid-4,
//     projects__grid-5{
//         max-height: 422px;
//     }

    

//     projects__grid-1,
//     projects__grid-2,
//     projects__grid-3,
//     projects__grid-6,
//     projects__grid-7{
//         height: 278px;
//     }
// }













